*{
    align-items: center;
}

table{
width: 40%;
}

.head{
    height: 50px;
}

table, th, td {
    border: 1px solid black;
}

input{
    width: 350px;
}

.checkbox>input{
width: 20px;
} 

.check>input{
    width: 30px;
  
}

tr>td{
    
    padding-left: 5px;
}

.foot > button{
    margin-right: 20px;
}